.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  padding-top: 70px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer h1 {
  font-size: 32px;
  margin-bottom: 12px;
}

.contentContainer {
  width: 600px;
  font-size: 16px;
}

.contentContainer ul {
  padding-left: 16px;
}

@media screen and (max-width: 640px) {
  .contentContainer {
    width: 100%;
    padding: 0 20px;
  }
}
