.componentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 350px;
}

.leftSide {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 216 auto;
  height: 100%;
}
