.componentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 488px; /* Height of app carousel + hero text */
  width: calc(100vw - 30px);
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 45%;
  justify-content: center;
  padding-left: 120px;
}

.divider {
  height: 100%;
  width: 3px;
  border-radius: 12px;
  background-color: #d9d9d9;
}

.appInfo__container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-right: 120px;
}

.appInfo__container h2 {
  font-weight: 600;
  font-size: 38px;
}

.appInfo__description {
}

.appLinks__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.appInfoLink--plain {
  text-decoration: underline;
}

.appInfoLink--iosAppStore img {
  height: 40px;
}

.appInfoLink--macAppStore img {
  height: 40px;
}
